---
import PageLayout from '@/layouts/PageLayout.astro';
import type { Page } from '@/types';
import Friend from '@/components/Friend';
import { getCollection } from 'astro:content';
import { FRIENDS_COLLECTION_NAME } from '@/constants';
const page: Page = {
  title: '友情链接',
  description: '「两人共度的时光，与所选的未来。」',
  image: import('src/assets/friends-bg.webp'),
}
const friendEntries = await getCollection(FRIENDS_COLLECTION_NAME);
---
<PageLayout 
  page={page} 
  hasFooter={true}
  hasHero={true}
  hasNavbar={true}
  hasComment={true} 
  hasSidebar={false}
>
  <section class="mb-6 not-prose">
    <h2 class="text-xl font-bold mb-3">我的朋友</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {friendEntries.map(entry => (
        <Friend {...entry.data} />
      ))}
    </div>
  </section>
  <section class="prose dark:prose-invert dark:prose-dark plate-bg border-highlight p-4 md:p-8 rounded-xl">
    <p>虽然小站的建立不以传播为目的，但是仍然欢迎各位志同道合的朋友，如果你想要申请友链，目前只有一种途径：</p>
    <ol>
      <li>在本站 <a href="https://www.bilibili.com/video/BV1GJ411x7h7/" target="_blank">github仓库</a> 提交一个 PR()。给我的邮箱发送你的相关信息，内容需要包含
        "name": "xxxxx",
        "description": "xxxxx",
        "link": "https://xxxxx.xxx/",
      </li>
    </ol>
  </section>
</PageLayout>
